.question-management {
  font-family: Arial, sans-serif;
  max-width: 80%;
  margin: 20px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #dbf1f359;
  text-align: center;
  overflow-x: auto; /* Cho phép cuộn ngang nếu bảng rộng */
}

.question-management-header {
  margin-bottom: 20px;
}

.input-field {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* .search-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #0056b3;
} */

.question-management-table table {
  width: 100%;
  border-collapse: collapse;
}

.question-management-table th,
.question-management-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.question-management-table th {
  background-color: #f4f4f4;
}

.csstr th {
  text-align: center;
}
.cssradio {
  margin-top: 0.5em;
}
/* Responsive design */
@media (max-width: 768px) {
  .input-field,
  .search-btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .search-btn {
    width: auto;
  }
}
